.pipeline-price-container {
    margin-top: 30px;
}

.pipeline-price {
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pipeline-price-description {
    p {
        margin: 0;
    }

    .profiles-count {
        color: #9f9e9e;
    }
}

.checkout-btn {
    background-color: #58a8fc;
    border: none;
    border-radius: 2px;
    width: 120px;
}