<div class="col-xs-12 candidate-education">
    <div class="col-xs-12 candidate-education-container">
        <h4>{{ 'MENU.PROFILES.WIZARD.EDUCATION' | translate }}</h4>
        <form [formGroup]="educationForm" *ngIf="!loading">
            <div formArrayName="educations">
                <div *ngFor="let education of educationForm.controls.educations.controls; let i = index">
                    <div [formGroupName]="i">
                        <div class="education-name-group form-group" [ngClass]="{'has-error': careerHasError(i)}">
                            <label class="control-label" for="educationname">{{ 'MENU.PROFILES.WIZARD.CAREER' | translate }}: <span class="red-star">*</span></label>
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                        <div class="school-group form-group" [ngClass]="{'has-error': schoolHasError(i)}">
                            <label class="control-label" for="school">{{ 'MENU.PROFILES.WIZARD.SCHOOL' | translate }} <span class="red-star">*</span></label>
                            <input type="text" class="form-control" formControlName="school">
                        </div>
                        <div class="degree-group form-group">
                            <label>{{ 'MENU.PROFILES.WIZARD.DEGREE' | translate }}</label>
                            <select name="degree" formControlName="degree" class="form-control">
                            <option value="0">Select</option>
                            <option value="1">{{ 'MENU.PROFILES.WIZARD.UNDERGRADUATED' | translate }}</option>
                            <option value="2">{{ 'MENU.PROFILES.WIZARD.GRADUATED' | translate }}</option>
                            <option value="3">{{ 'MENU.PROFILES.WIZARD.BACHELOR' | translate }}</option>
                            <option value="4">{{ 'MENU.PROFILES.WIZARD.MASTER' | translate }}</option>
                            <option value="5">{{ 'MENU.PROFILES.WIZARD.PHD' | translate }}</option>
                        </select>
                        </div>
                        <div class="year-completion-group form-group">
                            <label>{{ 'MENU.PROFILES.WIZARD.YOC' | translate }}</label>
                            <input type="number" formControlName="completition_year" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="add-button-group form-group">
                <button class="btn add-button" (click)=addEducation()>{{ 'MENU.PROFILES.WIZARD.ADD' | translate }}</button>
                <button [disabled]="educationForm.controls.educations.length <= 1" class="btn delete-button" (click)="deleteEducation()">{{ 'MENU.PROFILES.WIZARD.DELETE' | translate }}</button>
            </div>
            <div class="education-line"></div>
            <div class="next-button-group form-group">
                <a (click)="previousPage()">
                    < {{ 'MENU.PROFILES.WIZARD.BACK' | translate }}</a>
                        <button (click)="nextPage()" [disabled]="!educationForm.valid" class="btn next-button">{{ 'MENU.PROFILES.WIZARD.NEXT' | translate }}</button>
                        <a (click)="skip()">{{ 'MENU.PROFILES.WIZARD.SKIP' | translate }}</a>
            </div>
        </form>


