<div class="row">
    <div class="col-xs-12 vacancy-top-filters-container">
        <div class="input-group desktop">
            <input type="text" class="form-control" #input [value]="searchByTitle" (keyup.enter)="getSearchByTitle(input.value)" placeholder="{{ 'MENU.VACANCIES_CANDIDATE.HEADER.SEARCH_PLACEHOLDER' | translate }}">
            <div class="input-group-addon dropdown-search-button">
                <select name="" id="">
                    <option value="">{{ 'MENU.VACANCIES_CANDIDATE.HEADER.SORT_BY' | translate }}</option>
                    <option value="title">{{ 'MENU.VACANCIES_CANDIDATE.HEADER.TITLE_SORT' | translate }}</option>
                    <option value="position">{{ 'MENU.VACANCIES_CANDIDATE.HEADER.POSITION' | translate }}</option>
                </select>
            </div>
            <div class="input-group-addon input-search-button" (click)="getSearchByTitle(input.value)">{{ 'MENU.VACANCIES_CANDIDATE.HEADER.SEARCH_BUTTON' | translate }}</div>
        </div>
        <div class="form-group mobile">
            <input type="text" class="form-control" [value]="searchByTitle" placeholder="Search Positions By Title">
            <select name="" id="" class="form-control sortByMobile">
                <option value="">{{ 'MENU.VACANCIES_CANDIDATE.HEADER.SORT_BY' | translate }}</option>
                <option value="title">{{ 'MENU.VACANCIES_CANDIDATE.HEADER.TITLE_SORT' | translate }}</option>
                <option value="position">{{ 'MENU.VACANCIES_CANDIDATE.HEADER.POSITION' | translate }}</option>
            </select>
        </div>
    </div>
</div>