<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 card-container">
    <div class="profile-card-container" [ngClass]="{'profile-card-styles-bought': pagedItems.owns === true}" pTooltip="Last activity: {{pagedItems.created_date | date: 'shortDate'}}" escape="false" tooltipPosition="bottom">
        <div class="checkbox-container">
            <div *ngIf="pagedItems.source === null" class="zourcing-label"><img class="zourcing-logo"></div>
            <div *ngIf="pagedItems.recommended === true" class="recommended-label" [ngClass]="{'recommended-label-left-margin': pagedItems.source === null}">
                <div class="recommended-container"><i class="fa fa-star" aria-hidden="true"></i></div>
            </div>
            <div *ngIf="pagedItems.attachments.length > 0" class="recommended-label" [ngClass]="{'recommended-label-left-margin': pagedItems.source === null || pagedItems.recommended === true}">
                <div class="recommended-container"><i class="fa fa-paperclip" aria-hidden="true"></i></div>
            </div>
            <input *ngIf="pagedItems.owns === false" type="checkbox" class="pull-right" [checked]="getCheckBoxesSaved(pagedItems.id)" (change)="$event.target.checked ? checkCard(pagedItems.id) : uncheckCard(pagedItems.id)">
        </div>

        <profile-description
            [profile]="pagedItems">
        </profile-description>

        <more-description-btn
            [profile]="pagedItems">
        </more-description-btn>

        <contact-phone-email
            [profile]="pagedItems">
        </contact-phone-email>

        <social-icons
            [profileSource]="pagedItems.source"
            [contactInformation]="pagedItems.contact_information"
            [profile]="pagedItems">
        </social-icons>


          

        <div class="match-percent-container">
            <ngb-rating [(rate)]="pagedItems.match" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>

            <!-- <div class="match-percent-borders">
                    <circle-progress
                        [percent]="pagedItems.match"
                        [radius]="25"
                        [outerStrokeWidth]="4"
                        [innerStrokeWidth]="2"
                        [outerStrokeColor]="getOuterStrokeColor()"
                        [innerStrokeColor]="getInnerStrokeColor()"
                        [titleFontSize]="12">
                    </circle-progress>
            </div> -->
        </div>      
        <div class="more-details-container">
            <div class="more-details">
                <a *ngIf="pagedItems.owns == false" (click)="buyProfile(pagedItems.id)">{{ 'MENU.PROFILES.FILTERS.ZOURCE_PROFILE' | translate }} <i class="fa fa-shopping-cart"></i></a>
                <span *ngIf="pagedItems.owns == true" class="badge zourced">{{ 'MENU.PROFILES.ZOURCED' | translate }}</span>
            </div>
        </div>
    </div>
</div>

