.my-account-preferences-container {
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    margin-bottom: 15px;
 
    .change-password {
        border-bottom: 1px solid #eaeaea;
        padding-bottom: 10px;

        h4 {
            margin: 20px 0 20px 0;
        }
    }

    .change-button {
        width: 140px;
        height: 40px;
        background-color: #58a8fc;
        color: #fff;
        border-radius: 2px;
        margin-bottom: 15px;
    }

    .close-account-title {
        margin-top: 20px;
    }
    
    .close-account-btn {
        width: 140px;
        height: 40px;
        background-color: #f96a6e;
        color: #fff;
        border-radius: 2px;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 667px) {
    .my-account-preferences-container {
        .form-group {
            width: 30%;
            display: inline-block;
        }
        .new-password-group, .confirm-password-group {
            margin-left: 20px;
        }

        .company-name-group {
            display: block;
        }
    }
}
