.similar-profiles-card {

    .similar-profiles-head {
        padding-left: 0;
        padding-right: 0;
        border-bottom: 1px solid #eaeaea;
        padding-bottom: 10px;
        h4 {
            margin: 0;
        }
    }

    .similar-profiles-info {
        padding-left: 0;
        padding-right: 0;
        margin-top: 20px;
        display: flex;

        .similar-profiles-image {
        }

        .similar-profiles-description {
            margin-left: 10px;

            .similar-profiles-title, .similar-profiles-location {
                color: #bababa;
            }
        }

        .profile-img-size {
            width: 50px;
            height: 50px;
        }

        p {
            margin: 0;
        }
    }
}

@media screen and (max-width: 666px) {
    .similar-profiles-card {
        margin-top: 20px;
        padding-left: 0;
        padding-right: 0;
    }

    .similar-profiles-info {
        flex-direction: column;
        text-align: center;
    }
}