<div class="modal fade" id="deleteVacancyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Delete Open Position</h4>
                    </div>
                    <div class="modal-body">
                        If you delete a position you will loose all the information related to it, including interested candidates and messages.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-delete pull-left" (click)="deleteVacancyConfirmation()">Delete</button>
                    </div>
                </div>
            </div>
    </div>