<div class="col-xs-12 col-sm-12">
    <ul class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1)">{{ 'MENU.PROFILES.START' | translate }}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a *ngIf="pager.currentPage > 1" (click)="setPage(pager.currentPage - 1)">{{ 'MENU.PROFILES.BACK' | translate }}</a>
            <a *ngIf="pager.currentPage <= 1">{{ 'MENU.PROFILES.BACK' | translate }}</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a *ngIf="pager.currentPage < pager.totalPages" (click)="setPage(pager.currentPage + 1)">{{ 'MENU.PROFILES.NEXT' | translate }}</a>
            <a *ngIf="pager.currentPage >= pager.totalPages">{{ 'MENU.PROFILES.NEXT' | translate }}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)">{{ 'MENU.PROFILES.FINISH' | translate }}</a>
        </li>
    </ul>
</div>