.card-container {
    margin-bottom: 20px;
}

.profile-card-container {
    background-color: #fff;
    border: 1px solid #eaeaea;
    height: 355px;
    padding: 0 5px;

    .checkbox-container {
        padding-top: 5px;
        padding-right: 5px;
    }

    .more-details-container {
        margin-top: 10px;
        text-align: center;
    }
}

.popover {
    max-width: 500px !important;
}

// @media screen and (min-width: 667px) and (max-width: 730px) {
//     .social-container {

//         .social-item {
//             width: 14%;
//         }
//     }
// }
