 <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 card-container" *ngIf="pagedItems.type != 'Membership'">
    <div class="profile-card-container">
        <div class="checkbox-container">
            <input type="checkbox" [checked]="getCheckBoxesSaved(pagedItems.id)" (change)="$event.target.checked ? checkCard(pagedItems.id) : uncheckCard(pagedItems.id)" class="pull-right">
        </div>
        <profile-description
            [profile]="pagedItems.profile">
        </profile-description>

        <more-description-btn
            [profile]="pagedItems.profile">
        </more-description-btn>

        <contact-phone-email
            [profile]="pagedItems.profile">
        </contact-phone-email>

        <social-icons
            [profileSource]="socialSource"
            [contactInformation]="pagedItems.profile.contact_information"
            [profile]="pagedItems">
        </social-icons>
        <div class="more-details-container">
            <a *ngIf="pagedItems.profile.source != null" (click)="sendInvite()">Send Invitation</a>
            <a *ngIf="pagedItems.profile.source === null" [routerLink]="['/chat', pagedItems.profile.id]">Chat</a>
        </div>
    </div>
</div>