<div class="col-xs-12 candidate-languages">
    <div class="col-xs-12 candidate-languages-container">
        <h4>{{ 'MENU.PROFILES.WIZARD.LANGUAGES' | translate }}</h4>
        <form [formGroup]="languagesForm" *ngIf="!loading">
            <div formArrayName="languages">
                <div *ngFor="let languages of languagesForm.controls.languages.controls; let i = index">
                    <div [formGroupName]="i">
                        <div class="language-name-group form-group" [ngClass]="{'has-error': nameHasError(i)}">
                            <label class="control-label" for="languagename">{{ 'MENU.PROFILES.WIZARD.LANGUAGE_NAME' | translate }}: <span class="red-star">*</span></label>
                            <input class="form-control" formControlName="name">
                        </div>
                        <div class="level-group form-group" [ngClass]="{'has-error': levelHasError(i)}">
                            <label class="control-label" for="level">{{ 'MENU.PROFILES.WIZARD.LEVEL' | translate }}: <span class="red-star">*</span></label>
                            <select formControlName="level" class="form-control">
                                <option value="0">{{ 'MENU.PROFILES.WIZARD.SELECT' | translate }}</option>
                                <option value="1">{{ 'MENU.PROFILES.WIZARD.BASIC' | translate }}</option>
                                <option value="2">{{ 'MENU.PROFILES.WIZARD.INTERMEDIATE' | translate }}</option>
                                <option value="3">{{ 'MENU.PROFILES.WIZARD.ADVANCED' | translate }}</option>
                                <option value="4">{{ 'MENU.PROFILES.WIZARD.NATIVE' | translate }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="add-button-group form-group">
                <button class="btn add-button" (click)="addLanguage()">{{ 'MENU.PROFILES.WIZARD.ADD' | translate }}</button>
                <button [disabled]="languagesForm.controls.languages <= 1" class="btn delete-button" (click)="deleteLanguage()">{{ 'MENU.PROFILES.WIZARD.DELETE' | translate }}</button>
            </div>
            <div class="languages-line"></div>
            <div class="next-button-group form-group">
                <a (click)="previousPage()">
                    < {{ 'MENU.PROFILES.WIZARD.BACK' | translate }}</a>
                        <button (click)="nextPage()" [disabled]="!languagesForm.valid" class="btn next-button">{{ 'MENU.PROFILES.WIZARD.NEXT' | translate }}</button>
                        <a (click)="skip()">{{ 'MENU.PROFILES.WIZARD.SKIP' | translate }}</a>
            </div>
        </form>
    </div>
</div>