.selected {
    background-color: #ccd5d9 !important;
    color: rgba(0, 24, 45, 0.56);
}

.tabs {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}

.tabs li {
    float: left;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}

.tabs li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}

.tabs li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}

.tabs .text {
    position: relative;
    top: -3px;
}

.tabs .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

.profile-card {
    border-color: #444444;
}

.card-content > p {
    font-size: 15px;
}

.card-content > hr {
    color: #444444;
}

.card-title {
    text-align: center;
}

.card-subtitle {
    padding-bottom: 20px;
}

.card-coincidence {
    margin-top: 10px;
    text-align: center;
}

.card-actions > button {
    width: 100px;
    margin: 0 auto;
}

.card-img-div {
    padding-top: 20px;
    padding-left: 0px !important;
    padding-right: 0px !important;

}

.card-img {
    margin-left: 18px !important;
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
}

.card-content > * {
    text-align: center !important;
}

.card-content .social-networks > * {
    font-size: 30px;
    color: #9f9f9f;
}

.card-content .social-networks > *:hover {
    color: rgba(0, 24, 45, 0.56);
}

@media (max-width: 1000px) {
    .social-networks {
        position: absolute;
        z-index: 1;
        left: 85%;
        top: 5%;
    }

    .profile-checkbox, .card-email, .card-mobile {
        display: none;
    }

    .mat-card {
        height: 300px;
    }

    .buy-btn, .chat-btn {
        margin-bottom: 20px;
    }



}

.card-content .card-mobile, .card-email {
    height: 20px;
    margin: 4%;
    font-size: 15px;
    color: #9f9f9f;
}

.mat-card {
    background-color: white;
    height: 300px;
    padding: 6px !important;
    padding-top: 10px !important;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0), 0 1px 1px 0 rgba(0, 0, 0, .0), 0 1px 5px 0 rgba(0, 0, 0, .12) !important;
}

.mat-card-content {
    margin-top: 17px;
    margin-bottom: 0px;
}

.mat-card-header {
    display: inherit;
}

.mat-card-header-text {
    margin: 0 0 !important;
    margin-left: 0px !important;
}

.card-title {
    height: 40px;
    text-align: left !important;
}

.card-major {
    height: 40px;
    text-align: left !important;
    font-size: 12px !important;
    color: #9f9f9f;

}

.card-user-info {
    padding-top: 20px;
    margin-left: 10px;
}

.details-link {
    text-align: center;
    font-size: 15px;
}

.search-profile {
    /*margin-left: 28px;*/
}

.profile-controls {
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-filter {
    margin-top: 2%;
    margin-bottom: 2%;
}

.sort-by {
    max-width: 160px;
}

.profile-filters {
    /*margin-left: 30px;*/
}

.profile-row {
    margin-left: 30px;

}

.filter-label {
    margin-top: 4%;
    display: block;
}

.pagination {
    float: right;
    margin-right: 110px;
}

.add-cart-btn {
    padding: 10px;
}

.remove-cart-link {
    margin-right: 10px;
}

.clear-filters-link {
    margin-top: 8px;
}

.fa-phone {
    margin-right: 10px;
}

.fa-envelope-o {
    margin-right: 10px;
}

.ic-arrangement-list {
    width: 40px;
    height: 40px;
    object-fit: contain;
    content: url("/assets/images/ic-arrangement-list.svg")
}

.ic-arrangement-card {
    width: 40px;
    height: 40px;
    object-fit: contain;
    content: url("/assets/images/ic-arrangement-cards.svg")
}

.profile-list {
    max-width: 1535px;
}

.social-networks > * {
    font-size: 30px;
    color: rgba(0, 100, 245, 0.56) !important;
}

.social-networks > *:hover {
    color: rgba(0, 100, 245, 0.56) !important;
}
