.row {
    margin-top: 20px;
}

.vacancy-filters-container {
    margin-bottom: 20px;

    .input-group {
        width: 100% !important;
    }
}

.vacancy-filters-container .form-control{
    border: 1px solid #eaeaea;
    box-shadow: none;
}

.input-search-button {
    color: #fff;
    background-color: #58a8fc;
    min-width: 140px;
    cursor: pointer;
}

.dropdown-search-button {
    border: 1px solid #eaeaea;
    background-color: #fff;
    font-size: 12px;
}

.dropdown-search-button select {
    background-color: #fff;
    border: none;
}

.country-select, .state-select {
    width: 70px;
}

@media screen and (min-width: 667px){
    .mobile {
        display: none;
    }
}

@media screen and (max-width: 666px){
    .desktop {
        display: none;
    }
}