<div class="row">
    <div class="col-xs-12 vacancy-header-container">
        <h1>{{ 'MENU.VACANCIES.OPEN_POSITIONS' | translate }}</h1>
        <a class="mobile add-new-link" data-toggle="modal" data-target="#addVacancyModal">{{ 'MENU.VACANCIES.ADD_NEW_BUTTON' | translate }}</a>
        <div class="deselect-container">
            <a (click)="deselectAll()" *ngIf="currentUser.type == 'recruiter'">{{ 'MENU.PROFILES.DESELECT_CART' | translate }} ({{cardsSelected.length}})</a>
            <button class="btn btn-delete" [disabled]="cardsSelected.length === 0" data-toggle="modal" data-target="#deleteVacancyModal" *ngIf="currentUser.type == 'recruiter'">{{ 'MENU.VACANCIES.DELETE_BUTTON' | translate }}</button>
            <button class="btn btn-addnew" data-toggle="modal" data-target="#addVacancyModal" *ngIf="currentUser.type == 'recruiter'">{{ 'MENU.VACANCIES.ADD_NEW_BUTTON' | translate }}</button>
            <img [ngClass]="{'ic-arrangement-list': !vacancyListView, 'ic-arrangement-card': vacancyListView}" (click)="vacancyListViewToogle()" alt="">
        </div>
        <div class="clear-floats"></div>
        <div class="header-border"></div>
        <!-- Modals -->
        <vacancy-delete-modal
        [cardsSelected]="cardsSelected"
        (sendDeleteVacancies)="getDeleteVacancies($event)">
        </vacancy-delete-modal>
        <vacancy-add-modal
            (sendSuccessSubmitEvent)="getSendSuccessSubmit($event)">
        </vacancy-add-modal>
        <vacancy-success-vacancy-modal></vacancy-success-vacancy-modal>
    </div>
</div>