.my-account-workexperience-container {
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    margin-bottom: 15px;

    .work-experience {
        padding-bottom: 10px;
        border-bottom: 1px solid #eaeaea;
        
        p {
            margin: 0;
        }

        .edit-link {
            margin-right: 10px;
        }

        .gray-text {
            color: #bababa;
        }
        
        .fa-pencil, .fa-trash-o {
            margin-right: 5px;
        }
    }

    h4 {
        margin: 20px 0 0 0;
    }


    .add-workexperience {

        h4 {
            margin-bottom: 20px;
        }
        
        border-bottom: 1px solid #eaeaea;

        .education-name-group {
            margin-top: 15px;
        }

        .add-button {
            width: 140px;
            height: 40px;
            background-color: #58d490;
            color: #fff;
            border-radius: 2px;
            margin-bottom: 15px;
            display: block;
        }

    }

    .update-button {
        width: 140px;
        height: 40px;
        background-color: #58a8fc;
        color: #fff;
        border-radius: 2px;
        margin-bottom: 15px;
        display: block;
        margin-top: 15px;
    }
}

.hide { 
    display: none
}

.save-button {
    width: 140px;
    height: 40px;
    background-color: #58d490;
    color: #fff;
    border-radius: 2px;
    margin-bottom: 15px;
    display: block;
}

.title-edit-view {
    margin-bottom: 20px !important;
}

.alert-container {
    margin-top: 20px;
}

.responabilities-group {
    width: 75% !important;
}

@media screen and (max-width: 666px) {
        .from-group, .to-group {
            width: 60%;
        }
}

@media screen and (min-width: 667px) {
    .my-account-workexperience-container {
        .form-group {
            width: 36%;
            display: inline-block;
        }
        .location-group, .from-group {
            margin-left: 20px;
        }

        .from-group, .to-group {
            width: 18%;
        }

        .to-group {
            vertical-align: top;
        }
    }
}