<div class="vacancy-similar-header">
    <h4>Similar Profiles</h4>
</div>
<div class="vacancy-similar-body">
    <div class="vacancy-similar-container">
        <img class="card-image-size img-circle card-img" src="assets/images/user.png" >
        <div class="vacancy-similar-details">
            <p>Sales Assistant Needed Ur...</p>
            <p class="color-gray">Sales Assistant</p>
            <p class="color-gray">IT Ready</p>
            <p class="color-gray">San Diego, California</p>
        </div>
    </div>
    <div class="vacancy-similar-container">
        <img class="card-image-size img-circle card-img" src="assets/images/user.png" >
        <div class="vacancy-similar-details">
            <p>Sales Assistant Needed Ur...</p>
            <p class="color-gray">Sales Assistant</p>
            <p class="color-gray">IT Ready</p>
            <p class="color-gray">San Diego, California</p>
        </div>
    </div>
    <div class="vacancy-similar-container">
        <img class="card-image-size img-circle card-img" src="assets/images/user.png" >
        <div class="vacancy-similar-details">
            <p>Sales Assistant Needed Ur...</p>
            <p class="color-gray">Sales Assistant</p>
            <p class="color-gray">IT Ready</p>
            <p class="color-gray">San Diego, California</p>
        </div>
    </div>
</div>