.modal-body-container {
  display: flex;
  justify-content: space-between;
}

.intro-remember-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
  color: #9f9e9e;
}