<div class="container-fluid">
    <div class="text-center" *ngIf="loading === true">
        <img class="loading-spinner" src="assets/images/ring.svg">
    </div>
    <div class="row" *ngIf="loading === false">
        <div class="col-xs-12 talent-detail-menu">
            <talent-detail-menu
                [contactInfo]="contactInfo"
                (sendContactInfoEvent)="contactInfo = $event">
            </talent-detail-menu>
        </div>
        <div class="col-xs-12 talent-detail desktop">
            <talent-detail-view-card
                [currentUser]="currentUser"
                [profile]="profile">
            </talent-detail-view-card>
            <talent-work-experience-card
                [profile]="profile"
                [languages]="languages"
                [projects]="projects">
            </talent-work-experience-card>
            <talent-similar-profiles-card
                [related_profiles]="related_profiles">
            </talent-similar-profiles-card>
        </div>
        <div class="col-xs-12 talent-detail mobile">
            <talent-detail-view-card 
                *ngIf="contactInfo"
                [currentUser]="currentUser"
                [profile]="profile">
            </talent-detail-view-card>
            <talent-work-experience-card
                *ngIf="!contactInfo"
                [profile]="profile"
                [languages]="languages"
                [projects]="projects">
            </talent-work-experience-card>
            <talent-similar-profiles-card
                *ngIf="contactInfo"
                [related_profiles]="related_profiles">
            </talent-similar-profiles-card>
        </div>
    </div>
</div>