<!-- 1 profile Modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="credit-confirmation-modal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                {{ 'MENU.PROFILES.USE_CREDITS_1_PROFILE' | translate }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'MENU.PROFILES.CLOSE_LABEL' | translate }}</button>
                <button type="button" class="btn get-profile-btn" (click)="getProfile()">{{ 'MENU.PROFILES.GET_PROFILE_LABEL' | translate }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Success Modal -->
<div class="modal fade success-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="credit-success-modal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                    {{ 'MENU.PROFILES.USE_CREDITS_SUCCESS' | translate }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn get-profile-btn" (click)="goToTalent()">Ok</button>
            </div>
        </div>
    </div>
</div>

<!-- Array of profiles modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="credits-confirmation-modal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p *ngIf="selectedProfiles.length > 1">{{ 'MENU.PROFILES.USE_CREDITS_SOME_PROFILES' | translate }} {{ selectedProfiles.length }} {{ 'MENU.PROFILES.USE_CREDITS_SOME_PROFILES2' | translate }}</p>
                <p *ngIf="selectedProfiles.length == 1">{{ 'MENU.PROFILES.USE_CREDITS_1_PROFILE' | translate }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'MENU.PROFILES.CLOSE_LABEL' | translate }}</button>
                <button type="button" class="btn get-profile-btn" (click)="getProfiles()" *ngIf="selectedProfiles.length > 1">{{ 'MENU.PROFILES.GET_PROFILES_LABEL' | translate }}</button>
                <button type="button" class="btn get-profile-btn" (click)="getProfiles()" *ngIf="selectedProfiles.length == 1">{{ 'MENU.PROFILES.GET_PROFILE_LABEL' | translate }}</button>
            </div>
        </div>
    </div>
</div>