<div class="col-xs-12 candidate-personal">
    <div class="col-xs-12 candidate-personal-container">
        <h4>{{ 'MENU.PROFILES.WIZARD.PERSONAL_INFORMATION' | translate }}</h4>
        <form [formGroup]="form">
            <div class="form-group email-group" [ngClass]="{'has-error': emailHasError, 'has-success': emailHasSuccess}">
                <label for="email" class="control-label">Email <span class="red-star">*</span></label>
                <input type="text" id="email" class="email-input form-control" (blur)="register()" formControlName='email' [formControl]="form.controls['email']" placeholder="Enter email">
                <div class="alert alert-success" role="alert" *ngIf="emailHasSuccess">Este correo ya habia sido utilizado, porfavor verifica que toda tu informacion este correcta.</div>
            </div>
            <div class="text-center" *ngIf="loading === true">
                <img class="loading-spinner" src="assets/images/ring.svg">
            </div>
            <div *ngIf="loading === false">
                <div class="form-group phone-group" [ngClass]="{'has-error': phoneHasError}">
                    <label for="phone" class="control-label">Phone <span class="red-star">*</span></label>
                    <input type="text" id="phone" class="phone-input form-control" formControlName='phone' [formControl]="form.controls['phone']" placeholder="Enter phone">
                </div>
                <div class="first-name-group form-group" [ngClass]="{'has-error': firstnameHasError}">
                    <label for="first_name" class="control-label">{{ 'MENU.PROFILES.WIZARD.FIRST_NAME' | translate }} <span class="red-star">*</span></label>
                    <input type="text" id="first_name" class="first-name-input form-control" formControlName='first_name' [formControl]="form.controls['first_name']" placeholder="Enter">
                </div>
                <div class="last-name-group form-group" [ngClass]="{'has-error': lastnameHasError}">
                    <label for="last_name" class="control-label">{{ 'MENU.PROFILES.WIZARD.LAST_NAME' | translate }} <span class="red-star">*</span></label>
                    <input type="text" id="last_name" class="last-name-input form-control" formControlName='last_name' [formControl]="form.controls['last_name']" placeholder="Enter">
                </div>
                <!-- <div class="form-group country-group" [ngClass]="{'has-error': countryHasError}">
                    <label for="country" class="control-label">{{ 'MENU.PROFILES.WIZARD.COUNTRY' | translate }} <span class="red-star">*</span></label>
                    <select id="country" formControlName='country' [formControl]="form.controls['country']" class="form-control">
                            <option value="">Select a country</option>
                            <option *ngFor="let country of countries" [value]="country.clave">{{country.name}}</option>
                    </select>
                </div> -->
                <div class="professional-title-group form-group" [ngClass]="{'has-error': titleHasError}">
                    <label for="title" class="control-label">{{ 'MENU.PROFILES.WIZARD.PROFESSIONAL_TITLE' | translate }} <span class="red-star">*</span></label>
                    <p>Choose a title that describes what you do.</p>
                    <input id="title" type="text" class="professional-title-input form-control" formControlName='title'  [formControl]="form.controls['title']" placeholder="Enter">
                </div>
            </div>
            <div class="candidate-picture-group form-group">
                <button (click)="nextPage()" type="submit" class="btn next-personal-btn" [disabled]="!form.valid">Next</button>
            </div>
        </form>
    </div>
</div>