.sort-by-select {
    margin-top: 20px;
}

.input-group {
    width: 100% !important;
    margin-top: 15px;
}

.input-group-addon {
    background-color: #fff;
    border: 1px solid #eaeaea;
    cursor: pointer;
    color: #000;
}